<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<p><a href="/">Home</a><br>
<a href="/shelters/new">Become a Participating Animal Shelter</a></p>
<br><br>
<h2>Shelters</h2>

<p><% @shelters.each do |shelter| %>
  <a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a><br>
    <% end %></p>
