<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<p><a href="/">Home</a>
  <a href="/pets">All Pets</a>
  <a href="/shelters">Shelters</a></p>
<br>
<h2>Shelters</h2>
<a href="/shelters/new">New Shelter</a>

<p><% @shelters.each do |shelter| %>
  <a href="/shelters/<%= shelter.id %>"><%= shelter.name %></a><br>
  <a href="/shelters/<%= shelter.id %>/edit" id="<%= shelter.id %>_edit">Edit Info</a>
  <a href="/shelters/<%=shelter.id%>" data-method="delete" id="<%= shelter.id %>_delete">Delete Shelter</a><br><br>
    <% end %></p>
