<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<a href="/shelters/<%= @shelter.id %>/pets/new">Add A New Pet</a><br><br>
<h2 align="center">Pets</h2>
<h3 align="center">(Pets in the shelter: <%="#{@shelter.petcount}"%> )</h3>

<table class= "Results" align="center" border ="0">
  <tr align="center">
    <td class = "TableTitle">Picture</td>
    <td class = "TableTitle">Name</td>
    <td class = "TableTitle">Age</td>
    <td class = "TableTitle">Gender</td>
  </tr>
<% @pets.each do |pet| %>
  <tr align="center">
    <td class="TableContent"><img src=<%="#{pet.image}"%> alt=<%= "#{pet.name}" %> height=200 width=200></td>
    <td class="TableContent"><a href="/pets/<%= pet.id %>"><%= pet.name %></a></td>
    <td class="TableContent"><%= "#{pet.age}" %></td>
    <td class="TableContent"><%= "#{pet.sex}" %></td>
  </tr>
    <% end %>
</table>
</body>
