<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<p><a href="/">Home</a>
  <a href="/pets">Pets</a>
  <a href="/shelters">Shelters</a><br>
<a href="/shelters">Back</a></p>


<h2><%= @shelter.name %></h2>
<p style="padding: 0px" >Shelter ID:  <%= @shelter.id%><br>
<a href="/shelters/<%=@shelter.id%>" data-method="delete">Delete Shelter</a>
<a href="/shelters/<%=@shelter.id%>/pets">Shelter's Pets</a></p>
<br><br>
<h4>Shelter Location</h4>
<table>
  <tr>
    <td>Address:</td>
    <td><%= @shelter.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @shelter.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @shelter.state %></td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td><%= @shelter.zip %></td>
  </tr>
</table>
<br>
<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>
<a href="/shelters/<%= @shelter.id %>/pets">Pets</a>
