<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<h2 align="center"><%= @shelter.name %></h2>
<p style="padding: 0px" align="center">Shelter ID:  <%= @shelter.id%><br>
<h4 align="center">Shelter Location:</h4>
<table class ='Show'>
  <tr>
    <td>Address:</td>
    <td><%= @shelter.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @shelter.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @shelter.state %></td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td><%= @shelter.zip %></td>
  </tr>
  <tr>
    <td>Options:</td>
      <td>
        <a href="/shelters/<%=@shelter.id%>/pets">Shelter's Pets</a><br>
        <a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a><br>
        <a href="/shelters/<%=@shelter.id%>" data-method="delete">Delete Shelter</a>
      </td>
    </tr>
</table>
<br>
<br>

<%= link_to 'New Review', "/shelters/#{@shelter.id}/reviews/new" %>

<table class="Show" id='reviews'>
  <% @reviews.each do |review| %>
  <tr>
      <td class="TableContent"><img src=<%=review.pic %> alt=<%= "#{review.user.name}" %> height=75 width=75><br>
          <%= review.user.name %></td>
      <td> <p><%= review.title %> : <%=review.rating %>-stars</p>
           <p><%= review.content %></p>
           <br>
           <%= link_to 'Edit Review', "/reviews/#{review.id}/edit" %>
           <a href="/reviews/<%=review.id%>" data-method="delete">Delete Review</a>
      </td>
  </tr>
  <% end %>
  </table>


<br>
</body>
