<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
<h2>Pets</h2>

<% @pets.each do |pet| %>
    <img src=<%="#{pet.image}"%> alt=<%= "#{pet.name}" %> height=100 width=100><br>
  <p><a href="/pets/<%= pet.id %>"><%= pet.name %></a><br>
    <%= "Description: #{pet.description}" %><br>
    <%= "Age:         #{pet.age}" %><br>
    <%= "Sex:         #{pet.sex}" %><br>
    Shelter: <a href="/shelters/<%= pet.shelter.id %>"><%= pet.shelter.name %></a><br>
    <a href="/pets/<%= pet.id %>/edit" id="<%= pet.id %>_edit">Edit Info</a>
    <a href="/pets/<%=pet.id%>" data-method="delete">Delete Pet</a> <br></p>
    <br><br>
    <% end %>
</body>
