<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<img src=<%="#{@pet.image}"%> alt=<%= "#{@pet.name}" %> height=300 width=300 class="Center"><br>
<section align="center">
  <h2><%= @pet.name %></h2>

  <a href="/pets/<%="#{@pet.id}"%>/apps">View Applications</a>
</section>
<table class= "Show">
  <tr>
    <td>Approximate Age:</td>
    <td><%= @pet.age %></td>
  </tr>
  <tr>
    <td>Sex:</td>
    <td><%= @pet.sex %></td>
  </tr>
  <tr>
    <td>Adoptable Status:</td>
    <td><%= @pet.status %></td>
  </tr>
  <tr>
    <td>Description: </td>
    <td><%= @pet.description %></td>
  </tr>
  <tr><td><a href="/pets/<%= @pet.id %>/edit">Update Pet</a></td>
  <td><a href="/pets/<%=@pet.id%>" data-method="delete">Delete Pet</a></td></tr>
</table>
</body>
