<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<h2 align="center">Application ID: <%= @application.id %></h2>
<table class= "Show">
  <tr>
    <td>Adopter Name:</td>
    <td><%= @user.name %></td>
  </tr>
  <% @pets.each do |pet| %>
    <tr id ="<%=pet.name%>">
      <td><a href="/pets/<%=pet.id %>" id = "link_to_<%= pet.name%>"> <%= pet.name %> </a></td>
      <td> <%if pet.find_petapp(@application.id).status == "Approved" %>
              Approved
            <% elsif pet.find_petapp(@application.id).status == "Rejected" %>
              Rejected
            <%else%>
              <%= link_to 'Approve', {:action => "update",:pet_id => pet.id, :app_id=> @application.id, :status => "Approved"}, method: "patch", class:"button"%>
              <%= link_to 'Reject', {:action => "update",:pet_id => pet.id, :app_id=> @application.id, :status => "Rejected"}, method: "patch", class:"button"%>
            <% end %>
      </td>
    </tr>
  <% end %>
  <tr>
    <td>Description: </td>
    <td><%= @application.description %></td>
  </tr>
  <tr id="status">
    <td>Application Status:</td>
    <td><%= @application.status %></td>
  </tr>
</table>
