<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<h2 align="center"><%= @user.name %></h2>
<p style="padding: 0px" align="center">User ID:  <%= @user.id%><br>
<table class ='Show'>
  <tr>
    <td>Address:</td>
    <td><%= @user.address %></td>
  </tr>
  <tr>
    <td>City:</td>
    <td><%= @user.city %></td>
  </tr>
  <tr>
    <td>State:</td>
    <td><%= @user.state %></td>
  </tr>
  <tr>
    <td>Zip:</td>
    <td><%= @user.zip %></td>
  </tr>
</table>
<br>
</body>
<br>
<br>

<h3 id = "avg">Average Rating: <%= @user.average_rating %></h3>
<section id = "User Reviews">
<table class="Show">
  <% @reviews.each do |review| %>
  <tr>
      <td class="TableContent"><img src=<%= review.pic %> alt=<% review.user.name %> height=75 width=75/><br>
          <%= review.user.name %></td>
      <td> <p><%= review.title %> : <%=review.rating %>-stars</p>
           <p><%= review.content %></p>
      </td>
  </tr>
  <% end %>
  </table>
  </section>

  <br>

  <section id = "HighlightedReviews">
  <table class="Show">
    <tr>
        <td class="TableContent"><img src=<%= @user.highest_rating&.pic || 'No Info' %> alt=<% @user.name %> height=75 width=75/><br>
            <%= @user.name %></td>
        <td> <p><%= @user.highest_rating&.title || 'No info' %> : <%=@user.highest_rating&.rating || 'No info' %>-stars</p>
             <p><%= @user.highest_rating&.content || 'No info' %></p>
        </td>
    </tr>
    <tr>
        <td class="TableContent"><img src=<%= @user.lowest_rating&.pic || 'No Info' %> alt=<% @user.name %> height=75 width=75/><br>
            <%= @user.name %></td>
        <td> <p><%= @user.lowest_rating&.title || 'No info' %> : <%=@user.lowest_rating&.rating || 'No info' %>-stars</p>
             <p><%= @user.lowest_rating&.content || 'No info' %></p>
        </td>
    </tr>
    </table>
    </section>
