<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<h2 align="center">Application ID: <%= @application.id %></h2>
<table class= "Show">
  <tr>
    <td>Adopter Name:</td>
    <td><%= @user.name %></td>
  </tr>
  <tr>
    <td>Adopter's Address:</td>
    <td><%= "#{@user.address}\n #{@user.city}, #{@user.state} #{@user.zip}"  %></td>
  </tr>
  <tr>
    <td> Pets to be adopted:</td>
    <td> <% @pets.each do |pet| %>
        <a href="/pets/<%=pet.id %>" id = <%= pet.name%>> <%= pet.name %> </a>
        <% end %>
    </td>
  </tr>

  <tr>
    <td>Description: </td>
    <td><%= @application.description %></td>
  </tr>
  <tr id="status">
    <td>Application Status:</td>
    <td><%= @application.status %></td>
  </tr>
</table>
</body>
<% if @application.status == "In Progress" %>
<section align = "center" id ='AddPet'>
<form action="/apps/<%= @application.id %>" method="get">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="post">
  <input type="hidden" name="app_id" value="<%= @application.id %>">
  <p>Add a Pet to this Application:</p>
  <input type="text" name= "name" placeholder="Search Pets">
  <label></label><input type='submit' value='Submit'/>
  <br>
    <table class ="Show">
      <% @targets.each do |target| %>
        <tr id ="target_<%=target.name%>">
          <td> <%= target.name %></td>
          <td> <%= link_to 'Add Pet', {:action => "update",:pet_id => target.id, :id=> @application.id}, method: "patch", class:"button"%></td>
        </tr>
      <% end %>
    </table>
  </section>
  <% end %>
    <section id = "submit_app">
    <section align = "center">
    <form action="/apps/<%= @application.id %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="PATCH">
      <input type="hidden" name="app_id" value="<%= @application.id %>">
      <input type="hidden" name="status" value="Pending">

      <p>Why would you make a good pet owner:</p>
      <input type="text" name= "description">
      <label></label><input type='submit' value='Submit Application'/>
      </section>
