<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/pets">All Pets</a></li>
          <li><a href="/shelters">Shelters</a></li>
          <li><a href= <%=request.referer%> >Back</a></li></ul>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
